@import url(https://fonts.googleapis.com/css?family=Lato:700);
*{box-sizing: border-box;}
body{font-family: arial; margin: 0; color: #4e4e4e; font-size: 14px;  background: url(img/bg.jpg) top center no-repeat fixed; background-size: cover; min-height: 100vh}
a{text-decoration: none !important; color: #6dcff6; cursor: pointer;}
img{display: block; height: auto;}
h1,h2,h3,h4,h5{margin: 0;color: #6dcff6; font-weight: 500}
li{list-style: none;float: left;}
ul{padding: 0; margin: 0;}

/*Container*/
.container{margin: 0 auto; display: table; width: 60%;}
.centered{margin: 0 auto; display: table;}
.content{float: left; width: 100%;margin: 30px 0;border-radius: 5px; background: rgba(255,255,255,0.8); padding: 50px 0;}
.content .container{width: 80%;}


.width-100{float: left; width: 100%}
.width-90{float: left; width: 90%}
.width-80{float: left; width: 80%}
.width-80-nflot{width: 80%}
.width-60{width: 60%}
.width-50{width: 50%}
.width-40{width: 40%}
.width-47{width: 47%}
.width-30{width: 30%}
.width-20{width: 20%}
.width-10{width: 10%}

.no-border-top{border-top: 0 !important;}
.no-margin-top{margin-top: 0 !important; }
.no-margin-bottom{margin-bottom: 0 !important; }

.left{float: left}
.right{float: right !important; }
.bottom{margin-bottom: 20px;}

.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-top-7{margin-top: 7px;}
.margin-top-10{margin-top: 10px;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-30{margin-top: 30px !important;}
.border-margin-bottom{float: left; width: 100%; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #D6D6D6}


.right-plus{margin-right: -20px;}


/*Title*/
.title-header{font-size: 18px;font-weight: bold; position: relative;float: right;;text-transform: uppercase;}
.title-form{margin-right: 20px; color: #c0c0c0; font-size: 12px;position: relative;float: left; width: 100%;}


input[type="checkbox"]{width: 20px; float: right; margin: 0; margin-left: 20px;margin-top: 3px;}
input[type="date"]{padding: 10px 12px !important }
select{width: 100%; background: #fff; height: 41px;color: #000;font-size: 13px}


.text-center{float: left; width: 100%; text-align: center; font-size: 14px;}


/*step*/
.step{position: relative; float: right;margin: 10px 0;}
.step::after{content: ''; position: absolute; left: 0; right: 0; top: 10px; background: #D2D2D2; height: 3px;}
.step li{    float: left; margin-right: 30px; background: #D2D2D2; padding: 4px 8px; border-radius: 100%; position: relative; z-index: 2;}
.step li.active{background: #6dcff6; color: #fff}
.step li:last-child{margin-right: 0;}

.new-plus{float: left; padding: 6px 14px; background: #6dcff6; color: #fff; font-size: 25px; border-radius: 100%;}
.btn-plus li:first-child a{float: left; padding: 4px 11px;color: #f5c399; font-size: 25px; border-radius: 100%; border: 3px solid #f5c399;}
.btn-plus li:last-child{margin: 10px 0 0 10px;}


.no-anggota{float: left; width: 100%; margin-bottom: 15px;}
/*new form*/
.form-group{float: left; width: 100%; margin-bottom: 15px;}
.form-group .w-50{float: left; width: 49%;}
.form-group .w-50:last-child{float: right}
.form-group .w-30{float: left; width: 30%;}
.form-group .w-33{float: left; width: 32.59%; margin-right: 1%}
.form-group .w-33:last-child{float: right; margin-right: 0;}

.form-group .w-70{float: right; width: 69%;}

.form-group input, textarea{background: #fff; padding: 12px; width: 100%; border: 1px solid #D0D0D0; font-size: 13px;}
.form-group .btn{ border: none;font-size: 15px; border-radius: 25px;background: #6dcff6;color: #fff; padding: 10px 25px; cursor: pointer;}
.form-group .btn:hover{background: #4B95B3;}
.form-group .btn:focus{outline: none}
.form-group .txt{width: 100%; font-weight: bold; font-size: 16px;}
.form-group .txt span{display: block;}
.form-group .radio{width: 100%; margin-top: 15px;}
.form-group .radio input{float: none; width: auto;}

.form-group .form-plus{float: left; width: 100%; margin: 10px 0;}
.form-group .form-plus li:first-child{width: 88%;}
.form-group .form-plus li.plus{float: right; width: 10%;}
.form-group .form-plus li.plus a{float: left; width: 100%; padding: 6px 14px; background: #6dcff6; color: #fff; font-size: 25px; text-align: center;}
.form-group .form-plus li.w-50-plus:first-child{width: 43%; margin-right: 2%}
.form-group .form-plus li.w-50-plus{width: 43%;}


.form-group .form-plus li.w-30-plus:last-child{margin-right: 0%}
.form-group .form-plus li.w-30-plus{width: 28%;margin-right: 2%}



.form-group.new-btn{margin-top: 30px;}
.form-group.border-bottom{border-bottom: 1px solid #D6D6D6; padding-bottom: 10px;}

/*house*/
.form-group ul{float: left; width: 100%; margin: 0; padding: 0; margin-bottom: 20px;}
.form-group ul.house li{width: 40%; margin-right: 1%}
.form-group ul.house li:last-child{margin-right: 0;}
.form-group ul.house li:first-child{width: 18%; margin-top: 10px; font-weight: bold}
.form-group ul.house:last-child{margin-bottom: 0;}

	.form-group ul.title-house li{float: left; margin-right: 10px;}
	.form-group ul.title-house li:first-child{font-weight: bold; font-size: 16px;}
	.form-group ul.title-house li input{height: 20px; width: 20px; margin-top: 0; margin-left: 0;}
	.form-group ul.title-house li:last-child{float: right}

.form-group ul.office li{width: 30.3%; margin-right: 1%}
.form-group ul.office li:last-child{margin-right: 0; width: 0;}
.form_izin ul.office li{width: 23%}


.container-2{float: left; width: 100%; margin: 10px 0; border-top: 1px solid #B5B5B5; border-bottom: 1px solid #B5B5B5; padding: 20px 0;}


.formgroup label.radio-inline{float: left !important; width: 25% !important;}
.formgroup label.radio-inline input{float: left; width: auto !important}
.content.dashboard .formgroup label.in-line{width: 23%; font-weight: 100; margin-right: 10px; margin-bottom: 30px;}
.content.dashboard .formgroup label.in-line input{width: auto;}


.user-logout{float: right; margin-top: 20px;}
.user-logout .username{display: block; font-size: 20px; text-transform: capitalize;}
.user-logout .btn-logout{float: right}




input.failed{border: 1px solid red}
.failed-action{width: 100%; margin-top: 5px; font-weight: normal; color: red; font-size: 12px; margin: 10px 0 5px 0}


input[type="submit"]{background: #6dcff6 !important; }

input:-moz-read-only { /* For Firefox */
    background-color:#D0D0D0;
}

input:read-only { 
    background-color: #D0D0D0;
}